*{
	margin: 0;
	padding: 0;
}

ion-tabs .tab-item.tab-item-active{
	color: green;
}

ion-tabs .tab-item{
	color: #b9aaaa;
}

.bar.bar-assertive {
    border-color: #ff2d47;
    background-color: #ff2d47;
    background-image: linear-gradient(0deg,#ff2d47,#ff2d47 50%,transparent 50%);
    color: #fff;
}
.tabs-light>.tabs, .tabs.tabs-light{
	background-color:#ddd;
}
/*--------------------------- home start  ----------------------------------------*/

#home{
	width: 100%;
	background: #eee;
}
#home .banner-wrapper .home-banner{
	width: 100%;
}
#home .banner-wrapper .home-banner img{
	width: 100%;
	display: block;
}
#home .banner-wrapper .slider-pager .slider-pager-page{
	color: #fff;
	font-size: 10px;
}


#home .list-wrapper{
}
#home .list-wrapper .list{
	text-align: center;
	padding: 0 10px;
}
#home .list-wrapper .list .list-title p{
	font-size: 10px;
	line-height: 20px;
	margin-bottom: 15px;
}
#home .list-wrapper .list .list-title p:nth-of-type(1){
	font-size: 16px;
	font-weight: 600;
	padding-top: 25px;
}
#home .list-wrapper .list ion-item{
	width: 100%;
	padding: 0;
	position: relative;
}
#home .list-wrapper .list ion-item .big-img{
	width: 100%;
	height: 200px;
	display: block;
	margin-bottom: 30px;
}
#home .list-wrapper .list ion-item .small-img{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	position: absolute;
	top: 165px;
	left: 50%;
	border: 2px solid #fff;
	transform: translateX(-50%);
}
#home .list-wrapper .list ion-item p{
	padding:5px 0;
	line-height: 30px;
	width: 100%;
	font-size: 12px;
}
#home .list-wrapper .list ion-item p:nth-of-type(2){
	font-size: 14px;
	overflow: auto;
	text-overflow: clip;
	white-space:normal;
}
/*--------------------------- home end  ----------------------------------------*/


/*--------------------------- strategy start  ----------------------------------------*/
.strategy-title{
	font-weight: 600;
}


#strategy{
	background: #f5f6f8;
}
#strategy .current-city{
	width: 100%;
	height: 65px;
	font-size: 16px;
	line-height: 65px;
	background: #1abc9c;
	font-size: 14px;
    text-align: center;
    color: #e5e5e5;
    display: flex;
    padding: 0 20px;
}
#strategy .current-city .city{
	color: #fff;
	flex: 1;
	text-align: left;
}
#strategy .current-city .current-location{
	flex: 1;
	
}
#strategy .list-wrapper{
	padding: 10px;
	width: 100%;
}
#strategy .list-wrapper .headline{
	padding: 10px 0;
	line-height: 20px;
	font-size: 16px;
	width: 100%;
}
#strategy .city-list{
	width: 100%;
	padding:0 10px;
	margin-bottom: 20px;
}
#strategy .city-list a{
	display: inline-block;
	padding: 0 25px;
	margin: 0 10px 20px 16px;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: 1px solid #333;
	color: #000;
	background: #fff;
	text-decoration: none;
}

#strategy .near{
	width: 100%;
	padding:20px 10px;
	border-top: 1px solid #ccc;
}
#strategy .near i{
	margin: 0 10px;
	font-size: 16px;
	font-weight: 600;
}
/*--------------------------- strategy end  ----------------------------------------*/
/*--------------------------- strategy 杭州  start  ----------------------------------------*/
#hangzhou {
	width: 100%;
	font-size: 12px;
	background: #eee;
}
#hangzhou .head-img{
	width: 100%;
	position: relative;
	color: #fff;
}
#hangzhou .head-img img{
	width: 100%;
	display: block;
}
#hangzhou .head-img .city-name{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
#hangzhou .head-img .city-name a{
	display: block;
	font-size: 30px;
	color: #fff;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
}


#hangzhou .head-img .table-nav{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
}
#hangzhou .head-img .table-nav .table-cell{
	flex: 1;
}
#hangzhou .head-img .table-nav .table-cell span{
	font-size: 14px;
}

#hangzhou .list-img{
	padding: 10px;
	width: 100%;
	text-align: center;
	
}
#hangzhou .list-title{
	margin: 20px 0;
	font-size: 26px;
	color: #000;
}
#hangzhou  .item{
	margin: 10px 0 20px;
	width: 100%;
	position: relative;
	background: #eee;
}
#hangzhou  .item img{
	width: 100%;
	display: block;
	background: rgba(0,0,0,0.3);
}
#hangzhou .list-img .item p{
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translateX(-50%);
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
#hangzhou .likes-img .likes-title{
	font-size: 26px;
	color: #000;
	text-align: center;
}

#hangzhou .likes-img .item .likes-desc{
	background: #fff;
	padding: 20px 10px;
	font-size: 10px;
	width: 100%;
	white-space: normal;
	overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


#hangzhou .likes-img .item .text-center{
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%,0);
	
}
#hangzhou .likes-img .item .text-center p{
	color: #fff;
	font-size: 20px;
}
#hangzhou .likes-img .item .text-center p i{
	font-size: 30px;
}
/*--------------------------- strategy 杭州  end  ----------------------------------------*/














