<ion-modal-view>
	<div class="logo has-header">
		<p class="iconfont icon-feekr">Feekr</p>
	</div>
	<form onsubmit="retur nfalse" class="login-form">
            <div class="username-wrap input-wrap">
            	<label class="item item-input">
				    <i class="icon ion-person "></i>
				    <input type="text" class="account login-input" placeholder="请输入邮箱或手机号" data-type="username">
				 </label>             
            </div>
            <div class="password--wrap input-wrap">
            	<label class="item item-input">
                	 <i class="icon ion-locked "></i><input type="password" class="pwd login-input" placeholder="请输入密码" data-type="password">
                 </label>
            </div>
            <button type="submit" class="login-submit button button-block  button-light">登录</button>
    </form>

</ion-modal-view>