<ion-view title="我" id="myLoin">
	<!-- <ion-nav-title></ion-nav-title> -->

	<div class="bar bar-header" >
		<p class="title">我的</p>
	</div>
	<div>
		<div class="uesImg list">
			<a href="#/user" class=" item item-thumbnail-left item-icon-right ">
				<img src="http://res.ifeekr.com/wap/avatar/fxb-avatar-180X180.jpg"/>
				<span>dffdfddfd</span>
				<i class="icon ion-chevron-right right2"></i>
			</a>
		</div>
		<div class="list top1">
			<a href="#" class="item item-icon-right item-icon-left ">
				<i class="icon ion-ios-email-outline left1"></i>
				信息
				<i class="icon ion-chevron-right right2"></i>
			</a>
			<a href="#" class="item item-icon-right item-icon-left ">
				<i class="icon ion-star left1"></i>
				收藏
				<i class="icon ion-chevron-right right2"></i>
			</a>
		</div>
		<div class="list  top1">
			<a href="#" class="item item-icon-right item-icon-left ">
				<i class="icon ion-ios-gear-outline left1"></i>
				设置
				<i class="icon ion-chevron-right right2"></i>
			</a>
			<a href="#" class="item item-icon-right item-icon-left ">
				<i class="icon ion-edit left1"></i>
				反馈
				<i class="icon ion-chevron-right right2"></i>
			</a>

		</div>
	</div>

</ion-view>