		<ion-view>
				    
				<ion-tabs class="tabs-light tabs-icon-top">
					
					<ion-tab title="首页" icon="ion-ios-home" ui-sref="main.home">
						<ion-nav-view name="home"></ion-nav-view>
					</ion-tab>
					<ion-tab title="精选" icon="ion-android-apps" ui-sref="main.top">
						<ion-nav-view name="top"></ion-nav-view>
					</ion-tab>
					<ion-tab title="攻略" icon="ion-android-compass" href="#/main/category">
						<ion-nav-view name="category"></ion-nav-view>
					</ion-tab>
					<ion-tab title="我的" icon="ion-ios-person" href="#/main/me">
						<ion-nav-view name="me"></ion-nav-view>
					</ion-tab>
					
				</ion-tabs>
		</ion-view>
